
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 900PX;
}
ul{
  list-style: none;
}

/* Top header navigation */

header{
  background-color: black;
  padding: 20px 0;
}
.journey_info h2{
  font-size: 40px;
  font-weight: 700;
} 
.journey_info p{
  font-size: 18px;
  padding-top: 10px;
  line-height: 20px;
} 
.preebook{
  color: #fff;
  background-color: coral;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 25px;
}
.nav_width{
  width: 60%;
}
.top_header{
  display: flex;
  justify-content:space-between;
  align-items: center; 
}
.caption{
  width: 40%;
}
.caption h1{
  color: #fff; 
  text-transform: capitalize;
  font-weight: 700;
}
.navigation_area{
  display: flex; 
}
.navigation_area li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  transition: .3s;
}
.navigation_area li a:hover{
  color: orange;
}
/* Your Journey */
.first_journey{
  display: flex;
  align-items: center;
  padding-top: 100px;
}
.journey_info{
  width:50%;
  margin-right: 102px;
}
.camera{
  width: 50%;
}
#cercle{
  background: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 284px;
  margin-right: 147px;
}
.camera img{
  width: 300px;
}
hr{
  margin-top: 50px;
  border: 1px solid;
  color: linen;
}
/* Shopping Logo */
.market_logo{
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.hr{
  border: 1px solid #FAF0E6;
  margin-bottom: 20px;
}
/* Popular Collection */
.grid_column{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3em;
  column-gap: 3em;
}
.popular_image img{
  width: 100%;
}
.ratings{
  align-items: center;
}
